{% extends "main/base.html" %}
{% load static %}
{% block title %} Forget Password {% endblock %}
{% block content %}

<!-- Login - Members -->
<div class="container my-5">
    <div class="row align-items-center p-4 rounded-3 shadow-lg">
        <!-- Text -->
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Forget Password</h1>
            <p class="col-lg-10 fs-4">We've emailed you instructions for setting your password, if an account exists
                with the email you entered. You should receive them shortly.<br>If you don't receive an email, please
                make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>

{% endblock %}
