{% extends "main/base.html" %}
{% load static %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

<!-- Login - Members -->

<!-- Text -->

    <h1 class="display-5 fw-bold lh-1 mb-3">Forgot Password</h1>
    <p class="lead">We've emailed you instructions for setting your password, if an account exists
        with the email you entered. You should receive them shortly.<br>If you don't receive an email, please
        make sure you've entered the address you registered with, and check your spam folder.</p>


{% endblock %}
