{% extends "main/base.html" %}
{% load static %}
{% block title %} Sing In {% endblock %}
{% block content %}

<!-- Login - Members -->
<div class="container my-5">
    <div class="row align-items-center p-4 rounded-3 shadow-lg">

        {% if validlink %}
        <!-- Text -->
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Enter new password</h1>
            <p class="col-lg-10 fs-4">Please enter your new password twice, so we can verify you typed it in
                correctly.</p>
        </div>

        <div class="col-md-10 mx-auto col-lg-5">
            <!-- Form - Change Password -->

            <form method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
                {% csrf_token %}

                {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                <div class="alert alert-danger with-close alert-dismissible fade show">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}

                {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                <div class="alert alert-danger with-close alert-dismissible fade show">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="password" name="new_password1" class="form-control" id="new_password1"
                           placeholder="Password">
                    <label for="new_password1">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="new_password2" class="form-control" id="new_password2"
                           placeholder="Password Confirm">
                    <label for="new_password2">Password Confirm</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
                <hr class="my-4">
            </form>
        </div>
        {% else %}
        <!-- Text -->
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Link not valid</h1>
            <p class="col-lg-10 fs-4">Is not a valid link.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}


