{% extends "main/base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block content %}


{% if validlink %}

<!-- Text -->
<h1 class="display-5 fw-bold lh-1 mb-3">Enter new password</h1>
<p class="lead">
    Please enter your new password twice, so we can verify you typed it in correctly.
</p>

<div class="d-flex justify-content-center align-items-center">
    <!-- Form - Change Password -->
    <form method="POST" class="p-4 border rounded-3 bg-light" style="width:380px">
        {% csrf_token %}

        {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
        <div class="alert alert-danger with-close alert-dismissible fade show">
            {{error}}
        </div>
        {% endfor %}
        {% endif %}

        {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
        <div class="alert alert-danger with-close alert-dismissible fade show">
            {{error}}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-floating mb-3">
            <input type="password" name="new_password1" class="form-control" id="new_password1"
                   placeholder="Password">
            <label for="new_password1">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="new_password2" class="form-control" id="new_password2"
                   placeholder="Password Confirm">
            <label for="new_password2">Password Confirm</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
        <hr class="my-4">
        <small class="text-muted">All data security by bmcr</small>
    </form>
</div>
{% else %}

<!-- Text -->
<h1 class="display-5 fw-bold lh-1 mb-3">Link not valid</h1>
<p class="lead">Is not a valid link.</p>

{% endif %}

{% endblock %}